FLOWS(~1.JSO
[{"id":"7e5d63c8.b3a0ec","type":"tab","label":"notebook","disabled":false,"info":""},{"id":"bd1b2449.3dffa8","type":"http request","z":"7e5d63c8.b3a0ec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":160,"wires":[["e2d8db65.6fc508"]]},{"id":"e2d8db65.6fc508","type":"function","z":"7e5d63c8.b3a0ec","name":"Pre Prediction","func":"var LV = global.get('LV')\nvar WS = global.get('WS')\nvar WD = global.get(\"WD\")\nvar M  = global.get(\"M\")\nvar D = global.get('D')\nvar H = global.get('H')\nvar Y = global.get('Y')\nvar token=msg.payload.access_token\nvar instance_id=\"59096e0d-a78e-4065-862a-8764ac5633ac\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"LV_ActivePower_(kW)\" ,\"Wind_Speed_(m/s)\",\"Wind_Direction_(°)\", \"Month\", \"Day\" , \"hour\" , \"year\"  ] , \"values\": [[ LV, WS, WD, M, D,H,Y]]}\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["c092b53e.e238d8"]]},{"id":"c092b53e.e238d8","type":"http request","z":"7e5d63c8.b3a0ec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/59096e0d-a78e-4065-862a-8764ac5633ac/deployments/edb5ca3d-26d1-4ae0-915f-ec0435cd6594/online","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":240,"wires":[["ba03efdc.9fbf8","a9c7a4f8.411d78"]]},{"id":"94bd916e.5b1eb","type":"ui_text","z":"7e5d63c8.b3a0ec","group":"740c7c62.691d54","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":100,"wires":[]},{"id":"ba03efdc.9fbf8","type":"function","z":"7e5d63c8.b3a0ec","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["94bd916e.5b1eb","a9c7a4f8.411d78"]]},{"id":"fc666ba5.b39e58","type":"ui_form","z":"7e5d63c8.b3a0ec","name":"","label":"","group":"740c7c62.691d54","order":1,"width":0,"height":0,"options":[{"label":"LV_ActivePower_(kW)","value":"LV","type":"number","required":true,"rows":null},{"label":"Wind_Speed_(m/s)","value":"WS","type":"number","required":true,"rows":null},{"label":"Wind_Direction_(°)","value":"WD","type":"number","required":true,"rows":null},{"label":"Month","value":"M","type":"number","required":true,"rows":null},{"label":"Day","value":"D","type":"number","required":true,"rows":null},{"label":"hour","value":"H","type":"number","required":true,"rows":null},{"label":"year","value":"Y","type":"number","required":true,"rows":null}],"formValue":{"LV":"","WS":"","WD":"","M":"","D":"","H":"","Y":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":340,"wires":[["2e54d4d1.34926c"]]},{"id":"2e54d4d1.34926c","type":"function","z":"7e5d63c8.b3a0ec","name":"","func":"global.set(\"LV\",msg.payload.LV)\nglobal.set(\"WS\",msg.payload.WS)\nglobal.set(\"WD\",msg.payload.WD)\nglobal.set(\"M\",msg.payload.M)\nglobal.set(\"D\",msg.payload.D)\nglobal.set(\"H\",msg.payload.H)\nglobal.set(\"Y\",msg.payload.Y)\nvar apikey=\"lshbJ7wSheXMcAJ7PH1u9qOWxmmwPhquOolPoYNKYcT_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["bd1b2449.3dffa8"]]},{"id":"a9c7a4f8.411d78","type":"debug","z":"7e5d63c8.b3a0ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"740c7c62.691d54","type":"ui_group","z":"","name":"prediction","tab":"ed6a99ce.899c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed6a99ce.899c08","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]